* {
  font-family: "Nunito", sans-serif;
  font-style: normal;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  outline: none;
  border: none;
  text-transform: capitalize;
  transition: all 0.5s ease;
  color: #000;
}

html {
  font-size: 62.5%;
  overflow-x: hidden;
  scroll-padding-top: 5.5rem;
  scroll-behavior: smooth;
}

section {
  padding: 2rem 9%;
}

section:nth-child(even) {
  background: #eee;
}

.btn {
  margin-top: 1rem;
  display: inline-block;
  font-size: 1.7rem;
  color: #fff;
  background: #192a56;
  border-radius: 0.5rem;
  cursor: pointer;
  padding: 0.8rem 3rem;
}

.btn:hover {
  background: #27ae60;
  letter-spacing: 0.1rem;
}

.sub-heading {
  text-align: center;
  color: #27ae60;
  font-size: 2rem;
  padding-top: 1rem;
}

.heading {
  text-align: center;
  color: #192a56;
  font-size: 3rem;
  padding-bottom: 1rem;
  text-transform: uppercase;
}

header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  background-color: #fff;
  padding: 1rem 7%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  z-index: 1000;
  box-shadow: 0 0.5rem 1.5rem rgba(0, 0, 0, 0.1);
}

header .logo {
  color: #192a56;
  font-size: 2.5rem;
  font-weight: bolder;
}

header .logo__icon {
  color: #27ae60;
}

header .navbar {
  z-index: 100500;
}

header .navbar .navbar__link {
  font-size: 1.7rem;
  border-radius: 0.5rem;
  padding: 0.5rem 1.5rem;
  color: #666;
}

header .navbar .navbar__link.active,
header .navbar .navbar__link:hover {
  color: #fff;
  background-color: #27ae60;
}

header .header__icons i,
header .header__icons a {
  cursor: pointer;
  margin-left: 0.5rem;
  height: 4.5rem;
  width: 4.5rem;
  line-height: 4.5rem;
  text-align: center;
  font-size: 1.7rem;
  color: #192a56;
  border-radius: 50%;
  background-color: #eee;
}

header .header__icons i:hover,
header .header__icons a:hover {
  color: #fff;
  background-color: #27ae60;
  transform: rotate(360deg);
}

header .header__icons #menu-bars {
  display: none;
}

#search-form {
  position: fixed;
  top: -110%;
  left: 0;
  height: 100%;
  width: 100%;
  z-index: 1004;
  background-color: rgba(0, 0, 0, 0.8);
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0 1rem;
}

#search-form #search-box {
  width: 50rem;
  border-bottom: 0.1rem solid #fff;
  padding: 1rem 0;
  color: #fff;
  font-size: 3rem;
  text-transform: none;
  background: none;
}

#search-form #search-box::-moz-placeholder {
  color: #eee;
}

#search-form #search-box:-ms-input-placeholder {
  color: #eee;
}

#search-form #search-box::placeholder {
  color: #eee;
}

#search-form label {
  color: #fff;
  cursor: pointer;
  font-size: 3rem;
}

#search-form label:hover {
  color: #27ae60;
}

#search-form.active {
  top: 0;
}

#search-form #close {
  position: absolute;
  color: #fff;
  cursor: pointer;
  top: 2rem;
  right: 3rem;
  font-size: 5rem;
}

.home .home-slider {
  overflow-x: hidden;
}

.home .home-slider .slide {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  gap: 2rem;
  padding-top: 9rem;
}

.home .home-slider .slide .slide__content {
  flex: 1 1 45rem;
}

.home .home-slider .slide .slide__content .slide__discr {
  color: #27ae60;
  font-size: 2.5rem;
}

.home .home-slider .slide .slide__content .slide__title {
  color: #192a56;
  font-size: 7rem;
}

.home .home-slider .slide .slide__content .slide__text {
  color: #666;
  font-size: 2rem;
  margin: 0.5rem 0;
  line-height: 1.5;
}

.home .home-slider .slide .slide__img {
  flex: 1 1 45rem;
}

.home .home-slider .slide .slide__img img {
  width: 100%;
}

.swiper-pagination-bullet-active {
  background: #27ae60;
}

.swiper-horizontal > .swiper-pagination-bullets,
.swiper-pagination-bullets.swiper-pagination-horizontal {
  bottom: auto;
}

.swiper-container {
  overflow-x: hidden;
}

.dishes__box {
  display: -ms-grid;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(28rem, 1fr));
  gap: 2.5rem;
}

.dishes__item {
  position: relative;
  padding: 2.5rem;
  background: #fff;
  border-radius: 0.5rem;
  border: 0.1rem solid rgba(0, 0, 0, 0.2);
  box-shadow: 0 0.5rem 1.5rem rgba(0, 0, 0, 0.1);
  overflow: hidden;
  text-align: center;
}

.dishes__icon {
  position: absolute;
  top: 1.5rem;
  background: #eee;
  border-radius: 50%;
  height: 5rem;
  width: 5rem;
  line-height: 5rem;
  font-size: 2rem;
  color: #192a56;
}

.dishes__icon:hover {
  background: #27ae60;
  color: #fff;
}

.dishes__icon.fa-heart {
  right: 1.5rem;
}

.dishes__icon.fa-eye {
  left: 1.5rem;
}

.dishesh__item img {
  height: 17rem;
  margin: 1rem 0;
}

.dishes__title {
  color: #192a56;
  font-size: 2.5rem;
}

.dishes__stars i {
  font-size: 1.7rem;
  color: #27ae60;
}

.dishes__price {
  color: #27ae60;
  font-weight: bolder;
  margin-right: 1rem;
  font-size: 2.5rem;
}

.about .about__row {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  gap: 1.5rem;
}

.about__img {
  flex: 1 1 45rem;
}

.about__img img {
  width: 100%;
}

.about__content {
  flex: 1 1 45rem;
}

.about__title {
  color: #192a56;
  font-size: 4rem;
  padding: 0.5rem 0;
}

.about__text {
  color: #666;
  font-size: 1.5rem;
  padding: 0.5rem 0;
  line-height: 2;
}

.about__icons {
  display: flex;
  gap: 1rem;
  flex-wrap: wrap;
  padding: 1rem 0;
  margin-top: 0.5rem;
}

.about__icon {
  background: #eee;
  border-radius: 0.5rem;
  border: 0.1rem solid rgba(0, 0, 0, 0.2);
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  padding: 1.2rem 0;
  flex: 1 1 17rem;
}

.about__icon i {
  font-size: 2.5rem;
  color: #27ae60;
}

.icon__title {
  font-size: 1.5rem;
  color: #192a56;
}

.menu__box-container {
  display: -ms-grid;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(30rem, 1fr));
  gap: 1.5rem;
}

.menu__box {
  background: #fff;
  border: 1rem solid rgba(0, 0, 0, 0.2);
  border-radius: 0.5rem;
  box-shadow: 0 0.5rem 1.5rem rgba(0, 0, 0, 0.1);
}

.menu__image {
  height: 25rem;
  width: 100%;
  padding: 1.5rem;
  overflow: hidden;
  position: relative;
}

.menu__image img {
  width: 100%;
  height: 100%;
  border-radius: 0.5rem;
}

.menu__link.fa-heart {
  position: absolute;
  top: 2.5rem;
  right: 2.5rem;
  height: 5rem;
  width: 5rem;
  line-height: 5rem;
  text-align: center;
  font-size: 2rem;
  background: #fff;
  border-radius: 50%;
  color: #192a56;
}

.menu__link.fa-heart:hover {
  background-color: #27ae60;
  color: #fff;
}

.menu__content {
  padding: 2rem;
  padding-top: 0;
}

.menu__stars {
  padding-bottom: 1rem;
}

.menu__icon {
  font-size: 1.7rem;
  color: #27ae60;
}

.menu__title {
  color: #192a56;
  font-size: 2.5rem;
}

.menu__text {
  color: #666;
  font-size: 1.7rem;
  padding: 0.5rem 0;
  line-height: 1.5;
}

.menu__price {
  color: #27ae60;
  margin-left: 1rem;
  font-size: 2.5rem;
}

.review__slide {
  padding: 2rem;
  box-shadow: 0 0.5rem 1.5rem rgba(0, 0, 0, 0.1);
  border: 0.1rem solid rgba(0, 0, 0, 0.2);
  border-radius: 0.5rem;
  position: relative;
}

.review__slide .fa-quote-right {
  position: absolute;
  top: 2rem;
  right: 2rem;
  font-size: 6rem;
  color: #ccc;
}

.review__slide .user {
  display: flex;
  gap: 1.5rem;
  align-items: center;
  padding-bottom: 1.5rem;
}

.review__slide .user img {
  height: 7rem;
  width: 7rem;
  border-radius: 50%;
  -o-object-fit: cover;
     object-fit: cover;
}

.review__slide .user h3 {
  color: #192a56;
  font-size: 2rem;
  padding-bottom: 0.5rem;
}

.review__slide .user i {
  font-size: 1.3rem;
  color: #27ae60;
}

.review__slide p {
  font-size: 1.5rem;
  line-height: 1.8;
  color: #666;
}

.order form {
  max-width: 90rem;
  border-radius: 0.5rem;
  box-shadow: var(--box-shadow);
  border: 0.1rem solid rgba(0, 0, 0, 0.2);
  background: #fff;
  padding: 1.5rem;
  margin: 0 auto;
}

.order form .inputBox {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.order form .inputBox .input {
  width: 49%;
}

.order form .inputBox .input span {
  display: block;
  padding: 0.5rem 0;
  font-size: 1.5rem;
  color: var(--light-color);
}

.order form .inputBox .input input,
.order form .inputBox .input textarea {
  background: #eee;
  border-radius: 0.5rem;
  padding: 1rem;
  font-size: 1.6rem;
  color: var(--black);
  text-transform: none;
  margin-bottom: 1rem;
  width: 100%;
}

.order form .inputBox .input input:focus,
.order form .inputBox .input textarea:focus {
  border: 0.1rem solid var(--green);
}

.order form .inputBox .input textarea {
  height: 20rem;
  resize: none;
}

.order form .btn {
  margin-top: 0;
}

.footer .box-container {
  display: flex;
  justify-content: space-between;
  padding: 2rem 9%;
}

.footer .box-container .box h3 {
  padding: 0.5rem 0;
  font-size: 2.5rem;
  color: var(--black);
}

.footer .box-container .box a {
  display: block;
  padding: 0.5rem 0;
  font-size: 1.5rem;
  color: var(--light-color);
}

.footer .box-container .box a:hover {
  color: var(--green);
  text-decoration: underline;
}

.footer .credit {
  text-align: center;
  border-top: 0.1rem solid rgba(0, 0, 0, 0.1);
  font-size: 2rem;
  color: var(--black);
  padding: 0.5rem;
  padding-top: 1.5rem;
  margin-top: 1.5rem;
}

.footer .credit span {
  color: var(--green);
}

@media (max-width: 991px) {
  html {
    font-size: 50%;
  }

  header {
    padding: 1rem 2rem;
  }

  section {
    padding: 2rem;
  }

  .dishes__item img {
    height: auto;
    width: 100%;
  }
}

@media (max-width: 768px) {
  header .header__icons #menu-bars {
    display: inline-block;
  }

  header .navbar {
    position: absolute;
    top: 100%;
    left: 0;
    right: 0;
    background-color: #fff;
    border-top: 0.1rem solid rbga(0, 0, 0, 0.2);
    border-bottom: 0.1rem solid rbga(0, 0, 0, 0.2);
    padding: 1rem;
    -webkit-clip-path: polygon(0 0, 100% 0, 100% 0, 0 0);
            clip-path: polygon(0 0, 100% 0, 100% 0, 0 0);
  }

  header .navbar .navbar__link {
    display: block;
    padding: 1.5rem;
    margin: 1rem;
    font-size: 2rem;
    background-color: #eee;
  }

  .navbar.active {
    -webkit-clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
            clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
  }

  #search-form #search-box {
    width: 90%;
  }

  .home .home__slider .slide .slide__title {
    font-size: 5rem;
  }
}